    <style>
    body{ margin: 0%;font-family: Cambria;}
.cero{display: grid;grid-template-columns: 7% 93%; grid-template-rows: auto; background: green;}
.dos{display: block; background: #a3c2c2;}
.uno{ background: #0099cc;}
.size1{width: 50%;padding: 25%;}
.size1:hover{border-radius: 50%;background: #e6e6ff;}

.tres{position: fixed;width: 100%;height: 60px;background: #cce6ff;border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1000; }

#cuatro{ background: #e6e6e6;width: 80%;height: auto;margin-top: 10%; margin-left: 10%;
    margin-right: 10%;border-radius: 1%;padding: 1%;}

.sise .tooltiptext {visibility: hidden;width:auto; background-color: #0099cc;color: rgb(27, 22, 22);
border-radius: 6px; padding: 1px 0;}

.sise:hover .tooltiptext {visibility: visible;z-index: 1;}

.cinco{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;justify-items: start;background: #66c2ff;
grid-template-rows: 30px; align-items: center;font-size: 20px;}
#seis{display:grid; gap: 10px;grid-template-columns: 1fr;justify-items: center;}

.pagination a {color: black;float: left;padding: 8px 16px;text-decoration: none;transition: background-color .3s;}
.pagination a.active {background-color: dodgerblue;color: white;}
.pagination a:hover:not(.active) {background-color: #ddd;}

.consulta{padding-top: 10%;}
.consu{border: #0000ff solid 2px;margin-left: 20%;text-decoration: none;font-size: 17px;
    padding: 3%;border-radius: 5px;background: #d1e0e0;}
.consu:hover{background: #0099cc;}
.buscador{margin-top: 20px;margin-left: 50%;margin-bottom: 4%;padding: 6px;font-size: 17px;border: none;}
.agregar{padding: 6px;margin-top: 8px;margin-right: 16px;background: #ddd;font-size: 17px;
border: none;cursor: pointer;}
.agregar:hover {background: #ccc;}


   </style>
   
   {{rerr}}
   <div class="cero">
        <div class="uno">
            <div style="height:auto;background: #0099cc;width: 6%;position:fixed">
                <a href="/profile" class="sise">
                    <img src="/home.svg" alt="menu icon" class="size1">
                        <span class="tooltiptext">Home</span>
                    </a>
                    <a href="#" class="sise">
                        <img src="/calendar.svg" alt="menu icon" class="size1">
                        <span class="tooltiptext">calendario</span>
                    </a>
                    <a href="/links" class="sise">
                        <img src="/id.svg" alt="menu icon" class="size1">
                        <span class="tooltiptext">pacientes</span>
                    </a>
                    <a href="#" class="sise">
                        <img src="/doctor-alt.svg" alt="menu icon" class="size1">
                        <span class="tooltiptext">Doctor</span>
                    </a>
            </div>
        </div>
      
        <div class="dos">
            <div class="tres" ><h1 style="margin-top: 1%; margin-left: 2%;">Pacientes</h1></div>
            <div id="cuatro">
                <input type="text" placeholder="buscalo aqui" class="buscador">
                <button class="agregar">Agregar paciente</button>
                <div class="cinco">
                   <div style="margin-left: 50%;"><b>Paciente</b></div>
                   <div style="margin-left: 20%;"><b>Contacto</b></div>
                   <div><b>Próxima cita</b></div>
                </div>
                

                <div  id="seis">
                    {{#each links}}
                    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;background: #cc9966;">
                        <div style="display: grid;grid-template-columns: 1fr 1fr;grid-template-rows: minmax(20px,auto);">
                         <div><img src="/user-alt-6.svg" alt="menu icon" style="width: 30%;padding: 0%;margin-top: 10%;margin-left: 30%;"></div>
                         <div style="display: grid;grid-template-columns: 1fr;grid-template-rows: minmax(10px,auto);margin: 5%;">
                            <div  class="cabe"> {{Nombre}}</div>
                             <div class="cabe1"> {{Edad}}</div>
                             <div class="cabe2" >{{Sexo}}</div>
                         </div>
                        </div>
                        <div style="margin: 5%;">
                         <div style="display: grid; grid-template-columns: 10% 90%;"><div><img src="/ui-cell-phone.svg" alt="menu icon" style="width: 60%;padding: 0%;"></div>{{Tel}}</div>
                         <div style="display: grid; grid-template-columns: 10% 90%;"><div><img src="/email.svg" alt="menu icon" style="width: 60%;padding: 0%;"></div>{{Email}}</div>
                        </div>
                        <div style="margin: 5%;">
                            <div style="display: grid; grid-template-columns: 10% 90%;"><div><img src="/calendar.svg" alt="menu icon" style="width: 60%;padding: 0%;"></div>10 de abril</div>
                         <div>gsdgd</div>
                        </div>
                        <div class="consulta"><a class="consu" href="/links/edit1/{{ID_paciente}}"> Iniciar Consulta</a></div>
                     </div>
                     {{else}}
                     <div>
                        <p>No hay pacientes</p>
                        <a href="/links/add"> crea uno</a>
                     </div>
                     {{/each}}

                     <div id="demo"></div>

                </div>

            </div>
          
        </div>
        
    </div>

    <script>
        const collection = document.getElementsByClassName("cabe");
       
        class paginacion{
            paginas(){
                var pagi=document.getElementById("seis");
                var element1=document.createElement("div"); 
                element1.innerHTML=`
                <div class="pagination">
                  <a href="#">&laquo;</a>
                  <a class="active" href="#">1</a>
                  <a  href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#">6</a>
                  <a href="#">&raquo;</a>
                </div> 
        `;
    pagi.appendChild(element1); }
        }
        var paginass=new paginacion()
        paginass.paginas();
        document.getElementById("demo").innerHTML = collection[1].innerHTML;
        
    </script>